<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
  <link rel="stylesheet" th:href="@{/css/cart_page.css}">
</head>
<body>
<div class="cart">
  <h1 class="cart-heading">Корзина</h1>
  <ul class="cart-items">
    <li th:each="cart : ${carts}" class="cart-item">
      <span class="item-name" th:text="${cart.getProduct().getName()}"></span>
      <div class="item-quantity">
        <form th:action="@{/cart/add}" th:method="POST">
          <input type="hidden" th:value="${cart.getProduct().id}" name="id">
          <button type="submit" class="quantity-btn minus">-</button>
        </form>
        <span class="quantity" th:text="${cart.getCount()}"></span>
        <form th:action="@{/cart/add}" th:method="POST">
          <input type="hidden" value="true" name="plus">
          <input type="hidden" th:value="${cart.getProduct().id}" name="id">
          <button type="submit" class="quantity-btn plus">+</button>
        </form>
      </div>
      <form th:action="@{/cart/add}" th:method="POST">
        <input type="hidden" value="true" name="delete">
        <input type="hidden" th:value="${cart.getProduct().id}" name="id">
        <button type="submit" class="delete-btn">Удалить</button>
      </form>
    </li>
  </ul>
  <p th:if="${carts.isEmpty()}">Корзина пустая</p>
  <div th:if="${!carts.isEmpty()}" class="cart-total">
    <span class="total-label">Итого:</span>
    <span class="total-value" th:text="${totalPrice}"></span>
  </div>
  <form th:if="${!carts.isEmpty()}" th:action="@{/cart/clear}" th:method="DELETE">
    <input type="hidden" value="true" name="delete">
    <button type="submit" class="delete-all-btn">Удалить все</button>
  </form>
  <form action="/orders">
    <button type="submit" class="checkout-btn">Оформить заказ</button>
  </form>
</div>
</body>
</html>