<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products page</title>
</head>
<body>
<form th:method="GET" th:action="@{/controller_pro/product_new}">
    <select name="category">
        <option value="">Выберите категорию</option>
        <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getName()}"></option>
    </select>
    <button type="submit" >Перейти на следующий шаг</button>
</form>
</body>
</html>