<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products page</title>
</head>
<body>
<form th:method="POST" th:action="@{/controller_pro/product_new}" th:object="${product}">
    <select th:field="*{category}">
        <option value="">Выберите категорию</option>
        <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getName()}" th:selected="${product.category == category}"></option>
    </select>
    <label>
        <input type="text" th:field="*{name}" placeholder="Введите название товара">
    </label>
    <label>
        <input type="number" th:field="*{price}" placeholder="Введите цену товара">
    </label>
    <button type="submit" >Создать новый товар</button>
</form>
</body>
</html>