<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание магазина</title>
  <link rel="stylesheet" th:href="@{/css/create_new_shop.css}">
</head>
<body>
<h2>Создание магазина</h2>
<form th:method="POST" th:action="@{/shop}" th:object="${shop}">
  <p>Выберите товар:</p>
  <select name="id">
    <option th:each="product : ${products}" th:value="${product.getId()}" th:text="${product.getName()}"></option>
  </select>
  <p>Введите название магазина:</p>
  <input th:field="*{name}" type="text">
  <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
  <p>Введите адрес магазина:</p>
  <input th:field="*{address}" type="text">
  <p style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
  <button type="submit">Создать</button>
</form>
</body>
</html>