<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница товара</title>
    <link rel="stylesheet" th:href="@{/css/product_page_id.css}">
</head>
<body>
<div th:if="${rating}!=0.0" class="product-info">
    <p><span>Средняя оценка товара:</span> <span th:text="${rating}"></span></p>
</div>
<div th:if="${rating}==0.0" class="product-info">
    <p><span>У товара нет среднего рейтинга</span></p>
</div>
<div class="product-info">
    <p>Категория: <b th:text="${product.getCategory().getName()}"></b></p>
    <p>Название: <b th:text="${product.getName()}"></b></p>
    <p>Стоимость: <b th:text="${product.getPrice()}"></b></p>
    <div th:each="value : ${product.getValues()}">
        <p><span th:text="${value.option.name}"></span>: <b th:text="${value.getValue()}"></b></p>
    </div>
</div>
<div class="product-info">
    <form th:method="POST" th:action="@{/product/addCart}">
        <input type="hidden" th:value="${product.getId()}" name="id">
        <button type="submit">Добавить в корзину</button>
    </form>
    <a th:href="@{/product/edit_product/{id}(id=${product.getId()})}">Изменить товар</a>
    <a href="/product?page=1">Вернуться назад</a>
</div>
<div class="product-review" th:if="${reviewsPeople} == null">
    <form th:method="POST" th:action="@{/product/comment}">
        <input type="hidden" name="product" th:value="${product.id}">
        <input type="hidden" name="user" th:value="${users.id}">
        <label for="rating">Оставить рейтинг</label>
        <input id="rating" type="text" name="rating">
        <label for="review">Оставить отзыв</label>
        <textarea name="comment" id="review"></textarea>
        <button type="submit">Отправить</button>
    </form>
    <p th:if="${reviews.isEmpty()}">Пока нет отзывов на этот товар</p>
</div>
<div class="product-review" th:if="${!reviews.isEmpty()}" th:each="review : ${reviews}">
    <p th:if="${review.getPublished()}">
        <span th:text="${review.getUser().getFirstName()}"></span>
        <span th:text="${review.getUser().getLastName()}"></span>
        дата публикации: <span th:text="${#temporals.format(review.getPublicationDate(),'dd.MM.yyyy HH:mm')}"></span>
    </p>
    <p th:if="${review.getPublished()}"><span>Комментарий:</span> <span th:text="${review.getComment()}"></span></p>
</div>
</body>
</html>