<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница товаров</title>
    <link rel="stylesheet" th:href="@{/css/product_page_main.css}">
</head>
<body>
<div th:each="product : ${products}" class="product">
    <p>Категория: <b th:text="${product.getCategory().getName()}"></b></p>
    <p>Название: <b th:text="${product.getName()}"></b></p>
    <p>Стоимость: <b th:text="${product.getPrice()}"></b></p>
    <a th:href="@{/product/{id}(id=${product.getId()})}">Перейти к товару</a>
</div>

<div class="create-links">
    <a href="/controller_pro/choice_category_new">Создать новый товар</a>
    <a href="/controller_pro/category_new">Создать новую категорию</a>
    <a href="/controller_pro/option_new">Создать новую характеристику для товара</a>
    <a href="/cart">Перейти в свою корзину</a>
</div>

<div class="pagination">
    <form th:method="GET" th:action="@{/product}">
        <a th:if="1 != ${currentPage}" th:href="@{/product(page=${currentPage}-1)}">&lt;-</a>
        <div th:each="i : ${#numbers.sequence(1, totalPages)}" th:with="incremented=${i + 1}">
            <a th:href="@{/product(page=${i})}" th:text="${i}" th:class="${currentPage == i ? 'active' : ''}"></a>
        </div>
        <a th:if="${totalPages} != ${currentPage}" th:href="@{/product(page=${currentPage}+1)}">-&gt;</a>
    </form>
</div>
</body>
</html>
