<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit page</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/product/edit_product/{id}(id=${product.getId()})}" th:object="${product}">
<!--    <select th:field="*{product.category}">-->
<!--        <option value="">Выберите категорию</option>-->
<!--        <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getName()}" ></option>-->
<!--    </select>-->
    <label for="name">Введите название товара</label>
    <input id="name" type="text" th:field="*{name}">
    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <label for="price">Введите цену товара</label>
    <input id="price" type="number" th:field="*{price}">
    <p style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
    <div th:each="value : ${product.getValues()}">
        <p>Введите значение для <b th:text="${value.option.name}"></b></p>
        <label>
            <input type="text" name="options" th:value="${value.getValue()}"/>
        </label>
    </div>
    <button type="submit">Изменить</button>
</form>
<form th:method="DELETE" th:action="@{/product/delete_product/{id}(id=${product.getId()})}">
    <input type="submit" value="Удалить товар"/>
</form>
</body>
</html>
