<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products page</title>
</head>
<body>
<div th:each="product : ${products}">
    <p>Категория: <b th:text="${product.getCategory().getName()}"></b></p>
    <p>Названия: <b th:text="${product.getName()}"></b></p>
    <p>Стоимость: <b th:text="${product.getPrice()}"></b></p>
    <a th:href="@{/product/{id}(id=${product.getId()})}">Перейти к товару</a>
<!--    <a th:href="@{/product/edit_product/{id}(id=${product.getId()})}">Изменить товар</a>-->
    <hr/>
</div>
<a href="/controller_pro/choice_category_new">Создать новый товар</a>
<a href="/controller_pro/category_new">Создать новую категорию</a>
<a href="/controller_pro/option_new">Создать новую характеристику для товара</a>
<a href="/cart">Перейти в свою корзину</a>
<form th:method="GET" th:action="@{/product}">
<!--<button type="submit" name="page" value="1" >Страница 1</button>-->
<!--<button type="submit" name="page" value="2" >Страница 2</button>-->
    <a th:if="1 != ${currentPage}" th:href="@{/product(page=${currentPage}-1)}"><-</a>
    <div th:each="i : ${#numbers.sequence(1, totalPages)}" th:with="incremented=${i + 1}">
<!--        <button type="submit" name="page" th:value="${i}" th:text="Страница"> <span th:text="${i}"></span> </button>-->
        <a th:href="@{/product(page=${i})}" th:text="${i}" th:style="${'background: ' + (currentPage == i ? 'crimson' : 'unset')}"></a>
    </div >
    <a th:if="${totalPages} != ${currentPage}" th:href="@{/product(page=${currentPage}+1)}">-></a>
<button type="submit">Все товары</button>
</form>
</body>
</html>
