<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="user-info">
    <h2>Информация о пользователе</h2>
    <th:block th:if="${human.getAge() >= 18}">
        <p>Имя: <span th:text="${human.name}"></span></p>
        <p>Возраст: <span th:text="${human.age}"></span></p>
    </th:block>
    <p class="err-mess" th:if="${human.getAge() < 18}" >Человек не является совершеннолетним</p>
</div>
</body>
</html>